
/* Reverse the colors */
#-webkit-web-inspector {
	-webkit-filter: invert(1);
}
#-webkit-web-inspector .toolbar-icon,
#-webkit-web-inspector .swatch,
#-webkit-web-inspector .icon,
#-webkit-web-inspector input[type="checkbox"],
#-webkit-web-inspector input[type="radio"],
#-webkit-web-inspector .control-profiling,
#-webkit-web-inspector .resource-image-view,
#-webkit-web-inspector .console-error-level .console-message-text,
#-webkit-web-inspector .console-error-level .section .header .title,
#-webkit-web-inspector .network-close-button {
	-webkit-filter: invert(1);
}
#-webkit-web-inspector .source-code {
	-webkit-filter: brightness(0.5);
}

/* Fine tuning and turning comments gray */
#-webkit-web-inspector .script-view,
#-webkit-web-inspector .text-editor-contents,
#-webkit-web-inspector .pane.expanded,
#-webkit-web-inspector #elements-content,
#-webkit-web-inspector .resource-view.json,
table .webkit-line-content {
	font-size: 12px !important;
}
body.show-toolbar-icons #main {
	top: 50px !important;
}
.crumbs .crumb.selected.end, .crumbs .crumb.selected.end:hover{
	background-image: none !important;
}
.outline-disclosure ol:focus li.selected *{
	color: auto;
}
.webkit-html-comment,
.webkit-css-comment,
.webkit-javascript-comment,
.webkit-php-comment{
	color: #999 !important;
}

/*/*===== Toolbar =====*/
#-webkit-web-inspector #toolbar {
	background: #fff !important;
}
#-webkit-web-inspector #toolbar .toolbar-label {
	color: #000 !important;
	display:block !important;
	font-size: 75% !important;
	position: relative !important;
	top: -4px !important;
}
#-webkit-web-inspector #toolbar .toggled-on .toolbar-label {
	color: #000 !important;
}